.chat-room {
  padding: 8px;

  .list-container {
    padding-bottom: 120px;
  }
}

.footer-input {
  box-sizing: border-box;
  padding: 16px;
  background-color: #515c6c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16 24px;
  padding-bottom: 64px;
  position: fixed;
  bottom: 0;

  .input {
    border-radius: 8px;
    width: 75%;
    height: 68px;
    border: 1px solid gray;
  }

  .button {
    height: 72px;
    width: 150px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
