.chat-room {
  height: 100vh;
  background-color: #424e5f;
}

.footer-input {
  padding: 16px;
  background-color: #515c6c;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-bottom: 64px;
  position: fixed;
  bottom: 0;

  .input {
    flex: 1;
    height: 72px;
    margin-right: 36px;
    border: 1px solid #fff;
    color: #fff;
  }

  .button {
    height: 72px;
    width: 150px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
